<div class="container">
  <h1>Add new dose to <%= @cocktail.name %></h1>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.button :submit %>
  <% end %>
</div>
